@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
    height: 100vh;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagens/Mentoria-Login.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  @media (min-width: 769px) {
    .background {
      background-position-y: 15%; /* Ajuste o valor conforme necessário para mover a imagem para baixo */
    }
  }
  

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 550px;

}

.titulo {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo meio transparente */
    padding: 10px 20px;
    border-radius: 5px;
  }


.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    opacity: 0.9;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    width:100%;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #737373;
    height:40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin-top: 20px;
    width:100%;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #363636;

}


.signIn {
    text-align: center;
    margin-top: 20px;
    font-size: 18pt;

}

.logo {
    width: 258px;
    height: 230px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.icons {
    margin-top:15px;
    margin-right:5px;
    width:30px;
    height:30px;
}